@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
    text-align: center;
    font-family: sans-serif;
}

#container {
    margin-top: 100px;
    width: 80%;
    max-width: 400px;
    margin-inline: auto;
}

img {
    width: 25%;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    opacity: 0.9;
}

p {
    margin-bottom: 20px;
    opacity: 0.7;
}

input, button {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border-radius: 4px;
}

input {
    margin-bottom: 20px;
}

button {
    background-color: rgba(255, 0, 0, 0.728);
    color: white;
    transition: filter .2s;
}

button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}